{%extends 'base.html'%}
{%block content%}
{%load socialaccount%}
{%if user.is_authenticated%}
<ul class="nav">
  <li> <a href="{%url 'logout'%}">Logout</a> </li>
  <li> <a href="{%url 'profile'%}">profile</a> </li>
  <li> <a href="{%url 'home'%}">Home</a> </li>
  <li> <a href="{%url 'welcome'%}">Welcome</a> </li>
</ul>
{%else%}
<ul class="nav">
<li><a href="{%url 'login'%}">Login</a></li>
<li><a href="{%url 'register'%}">Sign up</a></li>
<li> <a href="{%url 'welcome'%}">Welcome</a> </li>
</ul>
{%endif%}
<h2 class="logout">You have been logged out </h2>
<div class="">
  </div>
{%endblock%}
