<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <h1 class="beat">Beat Search</h1>
    <meta charset="utf-8">
    <title></title>
<link rel="stylesheet" type="text/css" href="{%static 'songs_app/stylesheet.css'%}">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Patrick+Hand&family=Satisfy&display=swap" rel="stylesheet">
  </head>
  <body>
    {%if messages%}
    {%for message in messages%}
    <div class="alert alert-{{message.tags}}">
      {{message}}
    </div>
    {%endfor%}
    {%endif%}
    {%block content%}
    {%endblock%}
  </body>
</html>
